<div class="content" *ngIf="!loading">
  <div class="main">
    <h4 appColor>{{title}}</h4>
    <p class="test">Special text for test styles</p>
    <button (click)="goBack()">Back</button>
    <div *ngIf="todoService.tasks.length; else noTasks">
      <ul class="list-group">
        <li class="list-group-item task" *ngFor="let task of todoService.tasks; let i = index">
        <span [ngClass]="{'text-success': task.completed}">
      <input type="checkbox" [checked]="task.completed" (change)="onChange(task.id)">
      <strong class="margin-left-10">{{i + 1}}</strong><span class="margin-left-5">{{task.title}}</span>
    </span>
          <button title="Delete Task-{{i + 1}}" (click)="removeTask(task.id)">×</button>
        </li>
      </ul>
    </div>

    <ng-template #noTasks>
      <p style="text-align: center">No tasks</p>
    </ng-template>
  </div>
  <app-messages></app-messages>
</div>
<div *ngIf="loading"  class="container-loader">
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
</div>
<!--<div *ngIf="loading" class="loader">-->
<!--  <div class="spinner-grow text-primary" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--  <div class="spinner-grow text-secondary" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--  <div class="spinner-grow text-success" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--  <div class="spinner-grow text-danger" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--  <div class="spinner-grow text-warning" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--  <div class="spinner-grow text-info" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="spinner-grow text-light" role="status">&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="sr-only">Loading...</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div class="spinner-grow text-dark" role="status">-->
<!--    <span class="sr-only">Loading...</span>-->
<!--  </div>-->
<!--</div>-->
