.content {
  display: flex;
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 500px;
}

.main {
  width: 1000px;
}

button {
  border: none;
}

button:hover{
  background-color: #ff0600;
  color: #fffa12;
}

.alert {
  top: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-5 {
  margin-left: 5px;
}

.center,
.loader {
  display: flex;
  justify-content: center;
}

.loader {
  height: 500px;
  align-items: center;
}

.messages {
  display: flex;
  justify-content: flex-start;
  width: 700px;
  height: 1000px;
}
